
$default_color: #FFFFFF;
$default-background-color: #fafafa;

$default-text-color: #1f1f1f;
$muted-text-color: #6c757d;
$link-text-color: #81c1fa;
$text-blue-color: #379efa;
$text-success-color: #3c9b05;
$text-warning-color: #f1c721;
$text-info-color: #5ad2f6;
$text-error-color: #ff354d;

$default-border-color: #d9d9d9;
$border-active-color: #31a8e8;
$border-error-color: #ff354d;
$border-success-color: #7fff35;

$background-color-hover: rgba(234, 234, 234, 0.67);
$background-color-hover-hard: rgb(225, 225, 225);
$background-color-active: #ace6f5;
$background-color-active-hover: #acd4f5;
$background-color-secondary: #efefef;
$background-color-notify-info: rgba(53, 155, 255, 0.33);
$background-color-notify-error: rgba(250, 156, 167, 0.33);
$background-color-notify-warn: rgba(255, 221, 53, 0.33);
$background-color-light: #ffffff;
$background-color-modal: #ffffff;
$background-color-notify-success: rgba(187, 253, 150, 0.33);
$background-color-error: #fd6778;
$background-color-warning: #FFDD35;
$background-color-success: #a9fc7b;
$background-color-header-active: #31a8e826;

$scrollbar-blue: #35baff;

$default-shadow-color: rgba(161, 160, 160, 0.47);
$alert-shadow-color: rgba(250, 25, 25, 0.47);
$success-shadow-color: rgba(108, 250, 25, 0.47);
